
$font-primary-size: 16px;
$font-secondary-size: 20px;
$font-tertiary-size: 32px;


$font-family: "SF Pro Display", sans-serif;

$font-primary-weight: 400;
$font-secondary-weight: 500;
$font-tertiary-weight: 700;
$font-fourth-weight: 800;

$primary-color: #0B122A;
$secondary-color: #0381FF;
$tertiary-color: #F5F5F5;
$black-color: #000;
$white-color: #fff;

$text-right: right;
$text-left: left;
$text-center: center;



